@model ItsLaw.Web.ViewModels.EscritorioViewModel

@{
    ViewBag.Title = "IncluirEscritorio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="@Url.Content("~/Content/Scripts/jquery-1.10.2.js")"                               type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jquery.validate.js")"                             type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jquery.validate.unobtrusive.js")"                 type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jquery.validate.unobtrusive.method.cpfcnpj.js")"  type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jquery.maskedinput.js")"                          type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/ItsLaw-campos-formatados.js")"                    type="text/javascript"></script>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal block-fluid" data-ng-controller="EscritorioController">
        <div class="head clearfix">
            <div class="isw-grid"></div>
            <h3>Inclusão de Escritorio</h3>
        </div>

        <!-- ==================================================================== Identificacao ====================================-->
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dados da Escritorio</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.CpfCnpj, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.CpfCnpj, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CpfCnpj, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Fantasia, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Fantasia, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Fantasia, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================================================================== Endereco =========================================-->
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dados do Endereço</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-8">
                        @Html.LabelFor(model => model.Logradouro, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Logradouro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Logradouro, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-1">
                        @Html.LabelFor(model => model.Numero, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Numero, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Numero, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Complemento, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Complemento, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Complemento, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Bairro, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Bairro, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Bairro, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Cidade, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-2">
                        @Html.LabelFor(model => model.Cep, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Cep, new { htmlAttributes = new { @class = "form-control ItsLaw-MaskCep" } })
                        @Html.ValidationMessageFor(model => model.Cep, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.IDEstado, new { @class = "control-label col-md-0" })
                        @Html.DropDownListFor(model => model.IDEstado, new SelectList(ViewBag.EstadoDescricao, "IdTabAuxiliar", "Descricao"), "Escolha o Estado (UF)", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IDEstado, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================================================================== Telefone e Dados =================================-->
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Telefones</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.WebSite, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.EmailPrincipal, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.EmailPrincipal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailPrincipal, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.Contato, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Contato, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contato, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.EmailContato, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.EmailContato, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.EmailContato, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Telefone, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Telefone, new { htmlAttributes = new { @class = "form-control ItsLaw-MaskTelefone" } })
                        @Html.ValidationMessageFor(model => model.Telefone, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control ItsLaw-MaskCelular" } })
                        @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================================================================== Datas ============================================-->
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Informações Extras</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.CNAE, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.CNAE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CNAE, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.InscricaoEstadual, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.InscricaoEstadual, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InscricaoEstadual, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.InscricaoMunicipal, htmlAttributes: new { @class = "control-label col-md-0" })
                        @Html.EditorFor(model => model.InscricaoMunicipal, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.InscricaoMunicipal, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>

        <!-- ==================================================================== Datas ============================================-->
        <div class="row-form tar row-form-no-border">
            <a href="@Url.Action("Index", "Escritorio")"><div class="btn btn-primary warning">Voltar</div></a>
            <input type="submit" value="Adiciona Escritorio" class="btn btn-primary warning" />
        </div>
    </div>
}
