@model List<ItsLaw.Web.ViewModels.UsuarioPathViewModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <table style="width:100%">
                    <tr>
                        <td>
                            <h3><b>Listagem de Páginas de Acesso</b></h3>
                        </td>
                        <td>
                            <a href="@Url.Action("Index", "MenuPrincipal")"><div class="btn btn-primary warning">Voltar</div></a>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <table id="ListaUsuarioPaths" class="table table-striped table-bordered table-hover" style="width:100%">
                            <thead>
                                <tr class="alert-info">
                                    <td width="040px">ID</td>
                                    <td width="250px">Descrição da Página</td>
                                    <td width="250px">Controle</td>
                                    <td width="020px">Alterar</td>
                                    <td width="020px">Excluir</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                        {
                            <tr>
                                <td width="040px">@item.IdUsuarioPath</td>
                                <td width="250px">@item.Descricao</td>
                                <td width="250px">@item.DsController</td>
                                <td width="020px">
                                    <a href="/UsuarioPath/AbrirAlterar/@item.IdUsuarioPath" class="glyphicon glyphicon-edit col-md-1" style="cursor:pointer" uib-tooltip=""></a>
                                </td>
                                <td width="020px">
                                    <a type="button" class="glyphicon glyphicon-trash col-md-1" style="cursor:pointer" onclick="MensagemConfirma('Confirme ?','Deseja apagar dados de Acesso a Pagina ?','@Url.Action("InativarUsuarioPath", "UsuarioPath", new { id = @item.IdUsuarioPath })')"></a>
                                </td>
                            </tr>
                }
                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <a href="/UsuarioPath/IncluirUsuarioPath">
                <div class="panel-footer">
                    <span class="pull-left btn btn-default">Adicionar Pagina de Acesso</span>
                    <div class="clearfix"></div>
                </div>
            </a>

    <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>

